section.tryit {
	border-top: solid 15px #fff;

	position: relative;
	z-index: 3; // to put it over the intro button
	background: #fe938c;
	padding: 120px;

    text-align: center;

	div.side-by-side {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;

		h1 {
			display: inline-block;
			height: 100%;
			margin: 0 50px;
			font-family: "Mouse Memoirs";
			font-size: 130px;
			line-height: 100px;
			color: #682423;
		}
		p {
			display: inline-block;
			height: 100%;
			margin: 0 50px;
			font-family: "Red Hat Display";
            text-align: left;
			font-size: 60px;
			font-weight: 600;
			line-height: 63px;
            letter-spacing: 1px;
			color: #682423;
		}
	}
    a.btn {
        background: linear-gradient(90deg, #a84f4d 10%, #682423 100%);
        margin-top: 50px;
        box-shadow:  10px 10px 40px #d87d77;
        &:active {
            box-shadow: inset 0px 10px 40px #0004;
        }
    }

    @media only screen and (max-width: 2180px) {
        padding: 60px;

        div.side-by-side {
            h1 {
                font-size: 100px;
                line-height: 80px;
            }
            p {
                font-size: 40px;
                line-height: 43px;
            }
        }
        a.btn {
            margin-top: 20px;
            font-size: 30px;
        }
    }
    @media only screen and (max-width: 1600px) {
        padding: 60px 30px;

        div.side-by-side {
            display: block;
            h1 {
                margin: 0;
                display: block;
                width: 100%;
                font-size: 100px;
                line-height: 80px;
            }
            p {
                margin: 20px 0;
                display: block;
                width: 100%;
                text-align: center;
                font-size: 40px;
                line-height: 43px;
                br { display: none }
            }
        }
    }
    @media only screen and (max-width: 900px) {
        div.side-by-side {
            display: block;
            h1 {
                font-size: 70px;
                line-height: 80px;
            }
            p {
                font-size: 30px;
                line-height: 35px;
            }
        }
    }
}
