<section class="what">
    <div class="container">
        <h2>So...</h2>
        <h1>What is it?</h1>
        <p>
            It's non-dairy, gluten-free, and peanut-free, yet it's still creamy and delicious. Unlike Shaved Ice or a Snow Cone, which are just syrup poured over crushed ice, Aqua Ice is carefully
            blended into a smooth, creamy consistency, much like Ice Cream or Sorbet. It's the best parts of Ice Cream and Snow Cones mashed into one.
            <br />
            <br />
            With 18 delicious flavors, your whole family is sure to love this refreshing treat. We even have a sugar-free option!
        </p>
    </div>
    <img src="../assets/strawberry-promo-1.jpg" alt="Strawberry Aqua Ice sitting outside" />
</section>