<section class="intro">
    <div class="container">
        <div class="container-border">

        </div>
        <div class="main-intro">
            <img src="../assets/flavor-ss-1.png" alt="Stars & Stripes Aqua Ice" />
            <div class="main-intro-text">
                <h1>
                    Creamy, refreshing
                    <br/>
                    <span class="gradient">Aqua Ice.</span>
                </h1>
            </div>
        </div>
        <Button text="Get refreshed" href="#"></Button>
    </div>
</section>