section.snowcones {
    position: relative;
    z-index: 3;
    width: 100%;
    padding: 70px;

    background: #f0cf65;
	background-image: url("../assets/flavor-m-crop-5.png");
	background-position: center center;
	background-size: 200px;
	background-attachment: fixed;
	background-repeat: repeat;

    h1 {
        font-family: "Mouse Memoirs";
        text-align: center;
        color: #4f4015;
        font-size: 150px;
    }
}