section.booking {
	padding: 60px 20px;
    padding-bottom: 60px;
	text-align: center;

    .package-title {
        font-family: "Red Hat Display";
        font-weight: 600;
        font-size: 35px;
        text-transform: uppercase;
    }

    .booking-section {
        text-align: center;
    }

	div.contact-card {
		display: inline-block;
		padding: 30px;
		margin: 10px 70px;
	}
    div.sidebyside {
        margin-top: 30px;
        display: inline-block;
        img {
            display: block;
            float: left;
            margin-top: 7px;
            margin-right: 10px;
            height: 40px;
        }
        p {
            display: block;
            float: left;
            font-family: "Red Hat Display";
            font-weight: 900;
            text-transform: uppercase;
            margin: 0;
            font-size: 40px;
        }
        @media only screen and (max-width: 500px) {
            img {
                height: 30px;
            }
            p {
                font-size: 30px;
            }
        }
    }
    div.list {
        margin: 10px auto;
        text-align: left;
        // display: inline-block;
        width: 550px;
        max-width: 100%;
        font-family: "Red Hat Display";
        font-size: 19px;
    }
    div.msg {
        text-align: center;
        font-family: "Red Hat Display";
        font-size: 19px;
        a {
            color: #000;
        }
    }
    .info {
        display: block;
        font-family: "Red Hat Display";
        font-weight: 300;
        font-size: 45px;
        line-height: 40px;
        text-decoration: none;
        color: #000;
        margin: 0;
        &.subtitle {
            line-height: 27px;
            font-size: 30px;
        }
        &a:hover { color: #344 }
    }
    .package-sidebyside {
        display: inline-flex;
        flex-wrap: nowrap;
        @media only screen and (max-width: 960px) {
            flex-wrap: wrap;
            justify-content: center;
        }
        div.sidebyside-pkg {
            margin: 8px 80px;
            @media only screen and (max-width: 650px) {
                margin: 20px 5px;
            }
            text-align: center;
            .img {
                display: block;
                background-size: cover;
                background-position: center center;
                margin: 10px auto;
                width: 300px;
                height: 240px;
                @media only screen and (max-width: 550px) {
                    width: 240px;
                    height: 192px;
                }
                border-radius: 10px;
                box-shadow: inset 0 0 20px #0006;
            }
            ul {
                padding-left: 0;
                text-align: left;
                font-family: "Red Hat Display";
                font-size: 18px;
            }
            h2.package-name {
                font-family: "Red Hat Display";
                font-weight: 700;
                margin: 0;
            }
            .package-includes {
                margin: 0;
                font-family: "Red Hat Display";
                // font-weight: 300;
                font-size: 20px;
                line-height: 30px;
            }
        }
    }
}
.contact-info {
    margin-top: 80px;
}