section.booking {
	padding: 60px 20px;
    padding-bottom: 60px;
	text-align: center;

    .package-title {
        font-family: "Red Hat Display";
        font-weight: 600;
        font-size: 35px;
        text-transform: uppercase;
    }

    .booking-section {
        text-align: center;
    }

	div.contact-card {
		display: inline-block;
		padding: 30px;
		margin: 10px 70px;
	}
    div.sidebyside {
        margin-top: 30px;
        display: inline-block;
        img {
            display: block;
            float: left;
            margin-top: 7px;
            margin-right: 10px;
            height: 40px;
        }
        p {
            display: block;
            float: left;
            font-family: "Red Hat Display";
            font-weight: 900;
            text-transform: uppercase;
            margin: 0;
            font-size: 40px;
        }
        @media only screen and (max-width: 500px) {
            img {
                height: 30px;
            }
            p {
                font-size: 30px;
            }
        }
    }
    div.list {
        margin: 10px auto;
        text-align: left;
        // display: inline-block;
        width: 500px;
        max-width: 100%;
        font-family: "Red Hat Display";
        font-size: 19px;
    }
    .info {
        display: block;
        font-family: "Red Hat Display";
        font-weight: 300;
        font-size: 45px;
        line-height: 40px;
        text-decoration: none;
        color: #000;
        margin: 0;
        &.subtitle {
            line-height: 27px;
            font-size: 30px;
        }
        &a:hover { color: #344 }
    }
}
.contact-info {
    margin-top: 80px;
}