section.contact {
	padding: 110px 15px;
	text-align: center;

    @media only screen and (max-width:420px) {
        padding: 50px 15px;
    }

	div.contact-card {
		display: inline-block;
		padding: 30px;
		margin: 10px 70px;
        @media only screen and (max-width: 600px) {
            margin: 10px;
        }
	}
    div.sidebyside {
        display: inline-block;
        img {
            display: block;
            float: left;
            margin-top: 7px;
            margin-right: 10px;
            height: 40px;
        }
        p {
            display: block;
            float: left;
            font-family: "Red Hat Display";
            font-weight: 900;
            text-transform: uppercase;
            margin: 0;
            font-size: 40px;
        }
        @media only screen and (max-width: 600px) {
            img { height: 30px }
            p {
                font-size: 30px;
            }
        }
    }
    .info {
        display: block;
        font-family: "Red Hat Display";
        font-weight: 300;
        font-size: 45px;
        line-height: 40px;
        text-decoration: none;
        color: #000;
        margin: 0;
        &.subtitle {
            line-height: 27px;
            font-size: 30px;
            @media only screen and (max-width:420px) {
                font-size: 23px;
            }
        }
        &a:hover { color: #344 }

        @media only screen and (max-width: 600px) {
            font-size: 35px;
        }
        @media only screen and (max-width:420px) {
            font-size: 28px;
        }
    }
}