@font-face {
    font-family: "Mouse Memoirs";
    src: url("../assets/MouseMemoirs-Regular.ttf");
}
@font-face {
    font-family: "Red Hat Display";
    src: url("../assets/RedHatDisplay-Variable.ttf");
}