footer.footer {
    position: relative;
    z-index: 3;
    background: #22333b;
    padding: 100px;
    border-top: solid #fff 15px;
    
    a.link {
        font-family: "Mouse Memoirs";
        text-decoration: none;
        display: block;
        width:fit-content;
        color: #fff;
        font-size: 40px;
        &:hover { text-decoration: underline }
    }

    @media only screen and (max-width: 600px) {
        padding: 40px;
        a.link {
            font-size: 30px;
            margin: 2px;
            padding: 7px 0;
        }
    }
}